* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
-------------------------------------------------------------
Header
-------------------------------------------------------------
*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.navbar {
    position: relative;
    height: 4em;
    width: 100%;
    border: 1px solid rgb(163, 163, 163);
    overflow: hidden;
}
.navbar .clearfix {
    overflow: hidden;
}
nav > * {
    float: left;
}
.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    margin-right: 1em;
}
.navbar select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'><path fill='%232254eb' d='M0 2.5 L5 7.5 L10 2.5'/></svg>") no-repeat right center;
    background-size: 0.7em;
    padding-right: 1.3em;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #2254eb;
    cursor: pointer;
    height: 2em;
    line-height: 2em;
    /* margin: 0.5em 1em 0.5em 0;*/
    margin-left: 10em;
    margin-right: 2%;
}
.navbar select,
.search-box {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.search-box {
    width: 250px !important;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 1em;
    display: inline-block;
}
.search-box input {
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 0 0.5em;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #333;
    box-sizing: border-box;
    border-radius: 4px;
}
.search-input {
    background-image: url("images/magnifire.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right 10px center;
    padding-left: 35px;
    height: 2em;
    font-size: 1em;
}
.navbar div {
    width: auto;
    padding: 0.5em 1em;
}
.navbar input[type="text"] {
    width: 100%;
    height: 2em;
    padding: 0 0.5em;
}
.nav-links {
    list-style: none;
    float: right;
    margin-right: 10em;
    width: 30%;
    text-align: right;
}
.nav-links li {
    display: inline-block;
    line-height: 4em;
    margin: 0 3%;
}
.nav-links a,
.search-box input::placeholder{
    text-decoration: none;
    color: #2254eb;
    font-size: 1em;
    font-weight: 700;
    font-family: "Roboto", "Sans-Serif";
}

/*
---------------------------------------------------------------
Main Section
---------------------------------------------------------------
*/
.container {
    display: table;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.main{
    display: table-cell;
    vertical-align: middle;
}
.main-image,
.main-text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0 1em;
}
.container::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.container > * {
    position: relative;
    z-index: 1;
}
.main-text h1 {
    font-size: 2.5em;
    font-family: 'Lora';
}
.main-text p {
    margin-top: 2.5em;
}
.main-text span {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(59, 237, 189);
}
.container .main-text {
    margin: auto 0;
}
.nav-links-second {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 1em 0 0 0;
    text-align: center;
}
.nav-links-second li {
    display: inline-block;
    margin: 0 1em 0 0;
}

/*
----------------------------------------------------------------
Button
----------------------------------------------------------------
*/
.blue-button {
    background-color: #007BFF;
    color: white;
    border: none;
    margin-top: 2em;
    padding: 0.6em 1em;
    font-size: 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s;
}
.blue-button:hover {
    background-color: #0056b3;
}