*{
  box-sizing: border-box;
}
header, footer {
  height: 200px;
  width: 100%;
  border: 2px solid lightgray;
  clear: both;
}
section {
  height: 600px;
  border: 2px solid lightgray;
  width: 33.33%;
  float: left;
}
/* Medium screens (tablet) */
@media screen and (max-width: 900px) {
  section {
    width: 50%; /* 2 columns */
  }
}

/* Small screens (phones) */
@media screen and (max-width: 600px) {
  section {
    width: 100%; /* 1 column */
  }
}
/* === Desktop: 3 columns === */
@media screen and (min-width: 900px) {
  section {
    width: 33.33%;
  }
}