* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
----------------------------------------------------------------
Vertical Nav Bar
----------------------------------------------------------------
*/
.container {
    clear: both;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}
.container > section {
    float: left;
}
img.small-logo {
    width: 15%;
}
.vertical-nav {
    color: lightslategray;
    width: 10%;
    position: absolute;
    height: 100%;
    z-index: 1000;
}
.vertical-nav img {
    width: 95%;
}
.vertical-nav a {
    color: lightslategray;
    text-decoration: none;
}
.vertical-nav ul {
    list-style-type: none;
    padding-left: 0;
}
.searchbox {
    width: 100%;
    box-sizing: border-box;
}
.search-input {
    width: 100%;
    background-image: url(images/magnifire.png);
    background-repeat: no-repeat;
    background-position: right 80px center;
    background-size: 15px 15px;
    height: 30px;
    width: 200px;
    font-size: 1em;
    border: none;
    max-width: 100%
}

/*
----------------------------------------------------------------
Main
----------------------------------------------------------------
*/
.main {
    color: black;
    clear: both;
}
.main {
    margin-left: 13%;
    padding: 10px;
}
.horizontal-line {
        border: 0;
        border-top: 1px solid #ccc;
}

/*
----------------------------------------------------------------
First Section
----------------------------------------------------------------
*/
.first-section {
    clear: both;
    margin-bottom: 2em;
}
.first-section > div {
    float: left;
}
.author {
    display: block;
    margin-bottom: 0.5em;
}
.main-article {
    width: 60%;
}
.main-article img {
    width: 80%;
}
.first-section h2,
.first-section h4 {
    font-weight: 900;
}
.side-articles {
    width: 40%;
}

/*
----------------------------------------------------------------
Second Section
----------------------------------------------------------------
*/
.second-section {
    clear: both;
    margin-top: 20px;
}
.second-section h4 {
    font-weight: 900;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
}
.styled-table td {
    border-top: 1px solid #ccc;
    padding: 10px;
}
.styled-table tr:first-child td {
    border-top: none;
}
td {
    padding: 1%;
}
td.row {
    width: 33.33%;
}
.row > .second-images {
    width: 95%;
}