* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
ul, li {
    list-style: none;
}


/*
----------------------------------------------------------------
Header
----------------------------------------------------------------
*/
.container {
    position: relative;
    color: #f7f8fb;
    height: 1000px;
    padding: 10px 7%;
    background: #f7f8fb;
    z-index: -1;
}
.container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0a1632, #1a223b);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 85%);
    z-index: -2;
}
/* .container {
    background: linear-gradient(
        to bottom right, 
        #0a1632 0%, 
        #0a1632 70%,
        #1a223b 70%,
        #1a223b 100%
        );
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 75%);
    color: #f7f8fb;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
} */
.circle {
    width: 2em;
    height: 2em;
    border: 4px solid #f7f8fb;
    border-radius: 50%;
}
.container header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4em;
    line-height: 4em;
    font-size: 0.9em;
    padding-top: 70px;
}
.container header .right-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 58%;
}
.container header .right-nav li {
    width: 58%;
}
.container header .right-nav li a {
    color: #81868f;
    font-weight: bold;
}
.container header .right-nav li:first-child a {
    color: #f7f8fb;
}
.nav-button {
    background: #343c4b;
    color: #f7f8fb;
    width: 11em;
    height: 4em;
    font-weight: 550;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    outline: none;
    appearance: none;
}
/*
----------------------------------------------------------------
First-Section
----------------------------------------------------------------
*/
.first-section {
    margin-top: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f7f8fb;
}
.first-section .text {
    padding-right: 30px;
    width: 45%;
}
.first-section a {
    color: #f7f8fb;
}
.image {
    width: 50%;
    aspect-ratio: 13/9;
    background: #f7f8fb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    box-shadow: 5px 20px 15px rgba(0, 0, 0, 0.1);
}
img {
    width: 85%;
}
.first-section h1 {
    margin-top: 15px;
    font-size: 2.3em;
    font-weight: 300;
    color: #f7f8fb;
}
.first-section p {
    margin-top: 15px;
    margin-right: 7%;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 2em;
    color: #81868f;
}
.text div {
    margin-top: 60px;
    font-weight: 400;
}
.text button {
    width: 17em;
    height: 4em;
    color: #0a1632;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}
.companies {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 150px;
}
.companies li {
    width: 10%;
    text-align: right;
}
.companies img {
    width: 80%;
}
/*
----------------------------------------------------------------
Second-Section
----------------------------------------------------------------
*/
.second-section {
    background-color: #f7f8fb;
    height: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 130px;
}
.second-section > div:first-child {
    width: 50%;
    margin-top: 35px;
}
.second-section .ss-images {
    width: 47%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.ss-p span {
    color: #6b7989;
    font-size: 0.9em;
    font-weight: bold;
}
.ss-p h2 {
    font-size: 2.1em;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 15px;
}
.ss-p p {
    color:  #81868f;
    font-size: 1.1em;
    line-height: 2.2em;
    margin-right: 9%;
    margin-top: 30px;
}
.ss-p button {
    width: 17em;
    height: 4em;
    color: #f7f8fb;
    background-color: #0a1632;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin-top: 100px;
}
.ss-images img {
    width: 100%;
    padding-bottom: 15px;
}
.ss-images > div {
    width: 41%;
    text-align: center;
    margin-bottom: 7%;
    margin-left: 9%;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}
.ss-images span {
    font-size: 1em;
    font-weight: bold;
    color: #0a1632;
    padding: 0 10px 10px 10px;
}
.ss-images p {
    font-size: 0.9em;
    color: #81868f;
    padding: 5px 10px 10px 10px;
}

/*
----------------------------------------------------------------
Third-Section
----------------------------------------------------------------
*/
.third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f7f8fb;
    padding-top: 180px;
    padding-left: 7%;
    padding-right: 7%;
    height: 900px;
    width: 100%;
}
.third-section > div:first-child {
    width: 80%;
    margin-right: 7%;
}
.third-section > div + div {
    width: 70%;
}
.img-here img {
    margin-top: 20px;
    border-radius: 10px;
}
.text-here span {
    color: #6b7989;
    font-size: 0.9em;
    font-weight: bold;
}
.text-here h2,
.text-here h3 {
    font-size: 2.1em;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 15px;
}
.text-here p {
    color:  #81868f;
    font-size: 1.1em;
    line-height: 2em;
    margin-right: 9%;
    margin-top: 30px;
}
.text-here button {
    width: 17em;
    height: 4em;
    color: #f7f8fb;
    background-color: #0a1632;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    margin-top: 70px;
}

/*
----------------------------------------------------------------
Fourth-Section
----------------------------------------------------------------
*/
.fourth-section {
    background-color: #f7f8fb;
    padding-left: 7%;
    padding-right: 7%;
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.fourth-section > div:first-child {
    text-align: center;
    width: 40%;
    margin: 0 auto 100px;
}
.fourth-section > div > h2 {
    font-size: 2.1em;
    font-weight: 300;
    padding-top: 40px;
}
.fourth-section > div > span {
    color:  #81868f;
    font-size: 1.1em;
    line-height: 2em;
    text-align: center;
}
.fourth-section > div + div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fourth-section > div + div > div:first-child {
    width: 115%;
    margin-right: 7%;
}
.fourth-section > div + div > div + div {
    width: 100%;
}
.fourth-section div.text-here div.list-container {
    width: 700px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}
.slider {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    height: 100%;
}
.slider span,
.slider p {
    margin: 0;
    padding: 0;
}
.slider span.square {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid #0a1632;
    border-radius: 5px;
    box-sizing: border-box;
}
.slider .slider-item {
    flex: 0 0 100%;
    widtH: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}
.slider-item > div {
    display: flex;
    flex-direction: row;
}
.slider-item > div > div {
    padding-left: 20px;
}
.controls {
    display: flex;
    justify-content: center;
}
.controls button {
    margin: 0 5px;
    padding: 0 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 3px solid #0a1632;
    background-color: transparent;
    color: #0a1632;
    border-radius: 50%;
    font-weight: bold;
}
.fourth-section > div.fs-button {
    padding-top: 120px;
}
.fourth-section > div.fs-button button {
    width: 17em;
    height: 4em;
    color: #f7f8fb;
    background-color: #0a1632;
    font-weight: 400;
    border-radius: 5px;
    border: none;
}
/*
----------------------------------------------------------------
Fifth-Section
----------------------------------------------------------------
*/
.fifth-section {
    background-color: #0a1632;
    height: 1000px;
    position: relative;
    padding: 100px 7% 0 7%;
}

.fifth-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7f8fb;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 35%);
    z-index: 0;
}
.fifth-section > div.text-here {
    position: relative;
    z-index: 2;
    color: #0a1632;
    font-weight: bold;
}
.fifth-section > div + div > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 80px;
}
.fifth-section > div + div > ul > li {
    background: #f7f8fb;
    color: #0a1632;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 20px;
}

/*
----------------------------------------------------------------
Sixth-Section
----------------------------------------------------------------
*/
.sixth-section {
    background-color: #f7f8fb;
}

/*
----------------------------------------------------------------
Seventh-Section
----------------------------------------------------------------
*/
.list-container-r {
    width: 70%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}
.slider-r {
    display: flex;
    padding: 0;
    margin: 0;
    transition: transform 0.3s ease-in-out;
}
.slider-r li {
    flex: 0 0 100%;
    text-align: center;
    padding: 40px;
    border: none;
}
.controls-r {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
/*
----------------------------------------------------------------
Eight-Section
----------------------------------------------------------------
*/

/*
----------------------------------------------------------------
Footer
----------------------------------------------------------------
*/