body {
    color: #666;
    font: 14px/24px "Open Sans", "Helvetica-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
strong {
    color: #42444e;
    font-weight: bold;
}